<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--------- Awesome Fonts ------------>
    <script src="https://kit.fontawesome.com/8f8794589b.js" crossorigin="anonymous"></script>

    <!--------- Custom Style ------------->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

    <!----------------------- Navigation Start ---------------------------->

    <nav class="navbar">
        <div class="max-width">
            <div class="logo">
                <a href="/">Code<span>Rush</span></a>
            </div>
            <ul class="menu">
                <li class="nav-link">
                    <a href="/home">Home</a>
                </li>
                <li class="nav-link">
                    <a href="/about">About</a>
                </li>
                <li class="nav-link">
                    <a href="/services">Services</a>
                </li>
                <li class="nav-link">
                    <a href="/allpost">Teams</a>
                </li>
                <li class="nav-link">
                    <a href="/contact">ContactUs</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-------x-------x-------- Navigation End ------x----------x----------->

    <!-- About Start -->

    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About Me</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388"
                        alt="img 1">
                </div>
                <div class="column right">
                    <div class="text">
                        I'm Rushali and I'm a <span>Data Scientist</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi reiciendis reprehenderit itaque
                        aperiam odit quae non a et, aut doloremque quidem, culpa iste expedita deserunt sit asperiores
                        eum ad quam laborum impedit veniam. Voluptates eum deserunt adipisci eaque assumenda dignissimos
                        voluptas dolor saepe! Repellat aliquid iste, illum, in fugit consectetur officiis beatae cum
                        dolorem tempora quis quam fuga incidunt ex.</p>
                    <a href="#">Download CV</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About End  -->

    <!-- footer Start -->

    <footer>
        <span>Created By <a href="#">Rushali Rasal</a> <span class="far fa-copyright"></span>2022 All Rights
            Reserved</span>
    </footer>

    <!-- footer End -->