<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--------- Awesome Fonts ------------>
    <script src="https://kit.fontawesome.com/8f8794589b.js" crossorigin="anonymous"></script>

    <!--------- Custom Style ------------->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

    <!----------------------- Navigation Start ---------------------------->

    <nav class="navbar">
        <div class="max-width">
            <div class="logo">
                <a href="/">Code<span>Rush</span></a>
            </div>
            <ul class="menu">
                <li class="nav-link">
                    <a href="/home">Home</a>
                </li>
                <li class="nav-link">
                    <a href="/about">About</a>
                </li>
                <li class="nav-link">
                    <a href="/services">Services</a>
                </li>
                <li class="nav-link">
                    <a href="/allpost">Teams</a>
                </li>
                <li class="nav-link">
                    <a href="/contact">ContactUs</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-------x-------x-------- Navigation End ------x----------x----------->

    <section class="bookdone">
        <div class="book-text">
            <h3>Mast kelay na...!!</h3><br>
            <img src="https://www.kindpng.com/picc/m/127-1276022_smiley-clipart-emoji-free-wink-emoji-hd-png.png" alt=""
                width="400px" height="400px">
        </div>

        <div class="web">
            <div class="web-box">
                <a href="/#services">Home</a>
            </div>
        </div>
    </section>
</body>