<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--------- Awesome Fonts ------------>
    <script src="https://kit.fontawesome.com/8f8794589b.js" crossorigin="anonymous"></script>

    <!--------- Custom Style ------------->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

    <!----------------------- Navigation Start ---------------------------->

    <nav class="navbar">
        <div class="max-width">
            <div class="logo">
                <a href="/">Code<span>Rush</span></a>
            </div>
            <ul class="menu">
                <li class="nav-link">
                    <a href="/home">Home</a>
                </li>
                <li class="nav-link">
                    <a href="/about">About</a>
                </li>
                <li class="nav-link">
                    <a href="/services">Services</a>
                </li>
                <li class="nav-link">
                    <a href="/allpost">Teams</a>
                </li>
                <li class="nav-link">
                    <a href="/contact">ContactUs</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-------x-------x-------- Navigation End ------x----------x----------->

    <!-- Service Start -->

    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">My Services</h2>
            <div class="serv-content">

                <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">Web Design</div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem minus, atque dolorum odit
                            dolor doloremque.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-chart-line"></i>
                        <div class="text">Advertising</div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem minus, atque dolorum odit
                            dolor doloremque.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">Apps Design</div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem minus, atque dolorum odit
                            dolor doloremque.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Service End -->

    <!-- footer Start -->

    <footer>
        <span>Created By <a href="#">Ganesh Bisht</a> <span class="far fa-copyright"></span>2022 All Rights
            Reserved</span>
    </footer>

    <!-- footer End -->